svg {
    background-color: red;
}

#chart {
    background-color: rgb(150, 139, 248);

    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 60px 50px 60px 50px;
}

.bar:hover {
  fill: aliceblue;
}